# PolarLearn: A free and open-source learning platform.
# Copyright(C) 2024-2026 PolarNL Group
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Copy this file to .env and fill in the values, make sure to not use the default secret in production instances.


# Database (Required)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/polarlearn

# App Related
APP_BASE=http://localhost:5173
APP_LANG=nl

# Security (Required)
SECRET=change-me-to-a-long-random-string

# Email / SMTP
SMTP_HOST=your.smtp.host
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

SMTP_FROM=

# Logging (Optional)
LOG_LEVEL=info

# Logging with Loki (github.com/grafana/loki)
LOKI_HOST=
LOKI_BASIC_AUTH=